<%= render 'shared/navBar' %> 

<div class= "container mt-4">
    <% if @errors%>
            <% @errors.each do |error| %>
            <p class = 'danger'><%= error %></p>
            <% end %>
    <% end%>
    <h1>Secrets</h1>
    <p>A table of all secrets created by users who have an account. Click your name in the navbar to see your secrets !</p>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Secret</th>
                <th scope="col">Action(s)</th>
            </tr>
        </thead>
        <tbody>
        <% @allSecrets.each do |secret|%>
            <tr>
                <td>
                    <% if currentUser and secret.user_id != currentUser.id %> <%# Logic (line 17-23) that displays all the users' created secrets and the current user's created secrets a hyperlink %>
                        <%= secret.secret %> 
                    <% else %>
                        <% if currentUser and secret.user_id == currentUser.id %>
                            <a href="/users/<%= currentUser.id %>"> <%= secret.secret %> </a>
                        <% end %>
                    <% end %>
                    <p><%= secret.likes.count %>  <%= (secret.likes.count) == 1 ? 'Like' : 'Likes'%></p> 
                    <%# The count logic is to show the number of likes. The logic after is to change to Like or Likes depending on the number. %>
                </td>
                <td>
                <%  if Like.find_by(user_id: currentUser.id, secret_id: secret.id ) %> <%# this if statement finds the likes by the current user by finding the curent user (userId) and the secret the current user liked (secretId) %>
                        <form action="/secrets/<%= secret.id%>/unlike" method="post"> <%# the same route as the like button instead of likes it is unlike which then is linked to the destroy method %>
                            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                            <input type="hidden" name="_method" value="delete">
                            <input type="submit" class="btn btn-link" value="Unlike">
                        </form>
                <% else %>
                    <form action="/secrets/<%= secret.id%>/likes" method="post">
                        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                        <input type="submit" class="btn btn-link" value="Like">
                    </form>
                <% end %>

                <% if currentUser and secret.user_id == currentUser.id %> <%# This logic makes sure only the current user(creator of the secret) can delete the secret %>
                        <form style="position: relative; top: -38px; left: 50px;" action="/secrets/<%= secret.id %>" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                            <button type="submit" class="btn btn-link" value="Destroy">Delete</button>
                        </form>
                <% end %>
                </td>
            </tr>
        <% end %> <%# This is the closing end of the code on line 14. This is how I can use the secret.user_id on line 42 (i think) %>
        </tbody>
    </table>
</div>