<%= render 'shared/navBar' %> 

<div class= "container mt-4">
<h1> You have succesfully updated your profile 
<h3><%= @specificUser.firstName %> <%= @specificUser.lastName %></h3>
<p><%= @specificUser.emailAddress %></p>
<p><%= @specificUser.city %>, <%= @specificUser.state %></p>
</div>


