<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-2">Mongoose Dashboard</h1>
        <div class="row row-cols-2 ml-5">

            <div class="col">
                <a href="/cats/:id">
                    <img src="images/garfield.png" alt="A photo of the cartoon character Garfield." style="width:400px;height:200px;" class="ml-4">
                </a>
            </div>

            <div class="col">
                <a href="/cats/:id">
                    <img src="images/sylvester.png" alt="A photo of the cartoon character Sylvester." style="width:400px;height:200px;" class="ml-4">
                </a>
            </div>

            <div class="col">
                <a href="/cats/:id">
                    <img src="images/tom.png" alt="A photo of the cartoon character Tom." style="width:400px;height:200px;" class="mt-5">
                </a>
            </div>

            <div class="col">
                <a href="/cats/:id">
                    <img src="images/cat.png" alt="A photo of the cartoon character Cat from CatDog." style="width:400px;height:200px;" class="mt-5">
                </a>
            </div>
        </div>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col">Cat Name</th>
                    <th scope="col">Kind</th>
                    <th scope="col">Year</th>
                    <th scope="col">Photo</th>
                </tr>
            </thead>
            <tbody>
                <% for (var entry of submittedCatData) { %>
                <tr>
                    <th scope="row"> <%=entry.name %> </th>
                    <td> <%=entry.kind %> </td>
                    <td> <%=entry.year %> </td>
                    <td> <a href="/cats/<%= entry.id %>">Show | </a> <a href="/cats/edit/<%= entry.id %>">Edit | </a><a href="/cats/destroy/<%= entry.id %>">Delete</a> </td>
                    <td><img src="images/ png" alt="A photo of a cartoon character cat." style="width:400px;height:200px;"></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <div class="row mt-4">
            <a href="/cats/new" class="ml-5">
                <button type="button" class="btn btn-warning">Create a New Cat</button>
            </a>
        </div>
    </div>
</body>
</html>