<div class="container">
<h1><%=@specificDojo.branch%></h1>
<p><%= @specificDojo.street %></p>
<p><%= @specificDojo.city %></p>
<p><%= @specificDojo.state %></p>
<a href="/dojos">Home</a>
<a href="/dojos/<%= @specificDojo.id %>/edit">Edit</a>
</div>
